@media (min-width: 1024px){
    .going-title{
        font-size: 32px;
        padding: 30px 0 12px;
    }
    .going-explain{
        margin:10px auto;
        line-height: 32px;
        letter-spacing: 1.8px;
    }
    .goto-youtube{
        font-size: 12px;
        margin-top: -9px;
        margin-bottom:20px;
    }
    .before-zoom{
        width: 60vw!important;
        margin: 0 auto;
        display: block;
    }
}
@media (max-width: 1023px)and (min-width: 678px) {
    .going-title{
        font-size: 32px;
        padding: 30px 0 12px;
    }
    .going-explain{
        margin:10px auto;
        line-height: 32px;
        letter-spacing: 1.8px;
        font-size: 19px;
    }
    .goto-youtube{
        font-size: 12px;
        margin-top: -9px;
        margin-bottom:20px;
    }
}
@media(min-width:677px){
    .tab-pc{
        position: fixed;
        z-index: 5000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

}
@media (max-width: 677px){


    .slickwrapper>div{
        height: 100%;
        padding: 13vh 2vw 3vh;
    }
    .slick-track{
        height: 100%;
        padding-bottom:4vh;
    }
    .slick-track img{

        width:80vw!important;
        height: auto!important;
    }
    .going-title{
        font-size: 19px;
        padding: 10px 0;
    }
    .going-explain{
        margin:10px auto;
    }
    .goto-youtube{
        font-size: 12px;
        margin-top: -5px;
    }
    .none-ground{
        height: 30vh;
        margin: 10px 0;
    }
}
.going-title{
    display: block;
    text-align: center;
    font-family: 'Recipekorea';
    color: #2d2d2dc7;
}
.going-explain{
    display: block;
    width: 85vw;
}
.goto-youtube{
    display: block;
    text-align: center;
    color: #6d6d6d;
    text-decoration: line-through;
}
.img-zip-zoom{
    position: relative;
}
.img-zip-zoom img{
    display: block;
    width: 80vw;
    margin: 10px auto;
}
.moresee-img{
    position: absolute;
    font-weight: 800;
    bottom: 1vh;
    left: 27%;
    background-color: #92a8d140;
}
.slickwrapper {
    height: calc(100% - 44px);
    background: #090909;
    width:100vw;
}
.slick-track img{
    width:60vw!important;
    height: auto!important;
}